.container{
    margin: 0;
    width:100%;
    height:100%;
    padding:5px 51px;
    display:grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap:50px;
}
.card{
    width:100%;
    height:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    border:1px solid black;
    background-color: azure;
    border-radius:10px;
}
img{
    margin: 20px 0px;
    width:100px;
    height:80px;
    border-radius: 10px;

}
p{
    width:100%;
    text-align:center
}